@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap");

:root {
  --milkDark: #16161d;
  --milkLight: #e9e9e2;
  --milkBlue: #346ba0;
  --milkOrange: #ff8000;
}

body {
  background-color: var(--milkDark) !important;
  color: var(--milkLight) !important;
}

/* NAVBAR */

.navbar_container {
  background-color: rgb(122, 229, 233);
}

/* .navbar {
  background-color: var(--milkOrange);
} */

.nav-link {
  color: var(--milkOrange) !important;
  /* cursor: pointer; */
  /* border: solid 1px darkgreen; */
}

@media (max-width: 991px) {
  .navbar_social_media_link {
    display: none !important;
  }
}

/* INTRO */

.intro {
  /* background-color: brown; */
  min-height: 100vh !important;
}

.intro_bg_image {
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(10px); */
  /* margin-bottom: 20px; */
}

.dimmer_intro {
  display: flex;
  /* background: rgb(22,22,29); */
  background: linear-gradient(
    180deg,
    rgba(22, 22, 29, 0) 75%,
    rgb(22, 22, 29, 1) 100%
  );
  height: 100%;
}

.profile_pix {
  max-width: 300px;
  border: solid 0.75rem var(--milkOrange);
}

@media (max-width: 991px) {
  .profile_pix {
    max-width: 200px;
    border: solid 0.5rem var(--milkOrange);
  }
}

.intro_text {
  font-family: "Comfortaa";
  font-size: 5vw;
  /* font-weight: bolder; */
}

/* ABOUT */

.about {
  min-height: 100vh !important;
  font-family: "Comfortaa";
  /* background-color: #5f9ea0; */
}

.about_image {
  /* width: 100vw; */
  /* border: solid thick var(--milkOrange); */
  border-radius: 25px;
}

/* PROJECTS */

.projects {
  min-height: 100vh !important;
  font-family: "Comfortaa";
  /* background-color: coral; */
}

.dimmer_projects {
  display: flex;
  /* background: rgb(22, 22, 29, 1); */
  background: linear-gradient(
    180deg,
    rgba(22, 22, 29, 1) 0%,
    rgba(22, 22, 29, 0.85) 20%,
    rgba(22, 22, 29, 0.85) 80%,
    rgba(22, 22, 29, 1) 100%
  );
  height: 100%;
}

.card {
  background-color: var(--milkDark) !important;
  /* background-color: rgb(0, 0, 0); */
  /* border-style: solid; */
  border-color: #e9e9e2 !important;
}

@media (max-width: 991px) {
  .card_column {
    padding: 10px 0px !important;
  }
}

.card-body {
  border-bottom: solid, #ff8000 !important;
}

.card-text {
  font-family: "Montserrat";
}

/* CONTACT */

.contact {
  font-family: "Comfortaa";
  /* height: 100vh !important; */
  /* background-color: #008b8b; */
}

.form {
  font-family: "Montserrat";
}

.contact_image {
  border-radius: 25px;
}

@media (max-width: 991px) {
  .contact_image {
    display: none;
  }
}

.btn_submit {
  border: none !important;
  background-color: var(--milkOrange) !important;
}

/* .col1 {
  background-color: aqua;
}
.col2 {
  background-color: blueviolet;
} */

/* FOOTER */

footer {
  border-top: solid 1px;
  border-color: var(--milkLight);
  /* background-color: var(--milkOrange); */
  font-family: "Montserrat";
}

footer p {
  margin: 0.5rem 0.5rem;
  padding-top: 0 0.5rem;
}
