@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Fredoka+One&family=Patua+One&display=swap");

:root {
  --milkDark: #16161d;
  --milkLight: #e9e9e2;
  --milkBlue: #346ba0;
  --milkOrange: #ff8000;
}

body {
  background-color: var(--milkDark) !important;
  color: var(--milkLight) !important;
}

.content_padding {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 991px) {
  .content_padding {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}

/* NAVBAR */

.navbar_container {
  /* background-color: rgb(122, 229, 233); */
}

.navbar {
  /* background-color: var(--milkOrange) !important; */
}

.nav-link {
  color: var(--milkOrange) !important;
  /* cursor: pointer; */
  /* border: solid 1px darkgreen; */
}

@media (max-width: 991px) {
  .navbar_social_media_link {
    display: none !important;
  }
}

/* INTRO */

.intro {
  /* background-color: brown; */
  min-height: 100vh !important;
}

.intro_bg_image {
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(10px); */
  /* margin-bottom: 20px; */
}

.dimmer_intro {
  display: flex;
  /* background: rgb(22,22,29); */
  background: linear-gradient(
    180deg,
    rgba(22, 22, 29, 0) 75%,
    rgb(22, 22, 29, 1) 100%
  );
  height: 100%;
}

.profile_pix {
  max-width: 300px;
  border: solid 0.75rem var(--milkOrange);
}

@media (max-width: 991px) {
  .profile_pix {
    max-width: 200px;
    border: solid 0.5rem var(--milkOrange);
  }
}

.intro_text {
  font-family: "Patua One";
  color: #e9e9e2;
  font-size: 5vw;
  /* font-weight: bolder; */
}

/* ABOUT */

.about {
  /* background-color: #5f9ea0; */
  min-height: 100vh !important;
  font-family: "Comfortaa";
}

.about_image {
  border-radius: 25px;
}

@media (max-width: 991px) {
  .about_image {
    padding-top: 1rem;
  }
}

.skills_icons_central_column {
  border-left: solid 1px #e9e9e2 !important;
  border-right: solid 1px #e9e9e2 !important;
}

/* PROJECTS */

.projects {
  /* background-color: coral; */
  min-height: 100vh !important;
  font-family: "Comfortaa";
}

.projects a {
  text-decoration: none !important;
}

.dimmer_projects {
  display: flex;
  /* background: rgb(22, 22, 29, 1); */
  background: linear-gradient(
    180deg,
    rgba(22, 22, 29, 1) 0%,
    rgba(22, 22, 29, 0.75) 20%,
    rgba(22, 22, 29, 0.75) 80%,
    rgba(22, 22, 29, 1) 100%
  );
  height: 100%;
}

.card {
  background-color: var(--milkDark) !important;
  /* background-color: rgb(0, 0, 0); */
  /* border-style: solid; */
  border-color: #e9e9e2 !important;
}

@media (max-width: 991px) {
  .card_column {
    padding: 0.5em 0.5em !important;
  }
}

.card-body {
  border-bottom: solid, #ff8000 !important;
}

.card-text {
  font-family: "Montserrat";
}

/* CONTACT */

.contact {
  /* background-color: #008b8b; */
  font-family: "Comfortaa";
  /* height: 100vh !important; */
}

.form {
  font-family: "Montserrat";
}

.contact_image {
  border-radius: 25px;
}

@media (max-width: 991px) {
  .contact_image {
    display: none;
  }
}

.btn_submit {
  border: none !important;
  background-color: var(--milkOrange) !important;
}

/* FOOTER */

footer {
  /* background-color: var(--milkOrange); */
  border-top: solid 1px;
  border-color: var(--milkLight);
  font-family: "Montserrat";
}

footer p {
  margin: 0.5rem 0.5rem;
  padding-top: 0 0.5rem;
}
